$maxwidth: 1000px;

$navigationbackground: #ffffff;
$navigationimage: linear-gradient(180deg, #ffffff 1%, #d6ffea 100%);
$navigationfont: "Montserrat", sans-serif;

$mainfont: "Yanone Kaffeesatz", sans-serif;

$photobackground: #f4d03f;
$photoimage: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);

$justgreen: green;