@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.topvideo {
  width: 100%;
  position: relative;
  top: -200px;
}

.contentwrapper {
  max-width: $maxwidth;
  margin: 0 auto;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  max-width: $maxwidth;
  max-height: 36px;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 200;
  border-radius: 5px;
  background-color: #0c5215;
  background-image: linear-gradient(0deg, #0c5215 0%, #ffffff 39%);
  &__list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    &--item {
      &--link {
        @include linkstyle;
        font-family: "Playfair Display", serif;
        text-transform: uppercase;
        color: #0c5215;
      }
    }
  }
}

.maincontent {
  position: relative;
  top: -200;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
