@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.topvideo {
  width: 100%;
  position: relative;
  top: -200px;
}

.contentwrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.navigation {
  background: #a69888;
  position: fixed;
  max-width: 1200px;
  width: 100%;
  top: 0;
  border-radius: 5px;
  &__list {
    display: flex;
    justify-content: space-around;
    padding: 0;
    &--item {
      display: inline-block;
      font-size: 20px;
    }
  }
}

.maincontent {
  position: relative;
  top: -200;
}
