@import "_normalize";
@import "_variables";
@import "_mixins";

@keyframes picturechange {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/****** Top Video Style ******/
.topwrapper {
  height: 50vh;
  overflow: hidden;
  &__video {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100vw;
  }
}

.contentwrapper {
  max-width: $maxwidth;
  margin: 0 auto;
}

/****** Navigation ******/
.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px;
  position: fixed;
  max-height: 40px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  border-radius: 5px;
  background-color: $navigationbackground;
  background-image: $navigationimage;
  animation: navigationbar 3s ease-in;
  &__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &--paragraph {
      font-family: $navigationfont;
      font-weight: normal;
      font-size: 20px;
      margin: 0;
      padding-left: 15px;
    }
  }
  &__logo {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 15px;
    &__container {
      display: flex;
      width: 100px;
      justify-content: space-around;
      &--mini {
        @include navlogosize;
        opacity: 0.9;
        transition: opacity 0.3s ease-in;
        &:hover {
          opacity: 1;
          border: .5px solid green;
        }
      }
    }
  }
}

.maincontent {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40vh 10vh 50vh 10vh 40vh 10vh 20vh 10vh 70vh;
  font-family: $mainfont;
  grid-row-gap: 20px;
}

.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  &__down {
    @include scrolldownsize;
  }
}

.aboutme {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-template-rows: 50vh;
  height: 100%;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    &--photo {
      background-color: $photobackground;
      background-image: $photoimage;
      width: 200px;
      height: 250px;
      border-radius: 100px;
      animation: picturechange 3s ease-in;
    }
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &--h {
      color: $justgreen;
      letter-spacing: 2px;
    }
    &--p {
      font-weight: bold;
      font-size: 24px;
      letter-spacing: 2px;
    }
  }
}

.techlogo {
  @include logosize;
  transition: transform 0.3s linear;
  &:hover {
    transform: rotate(16deg) scale(2);
  }
}

.tech {
  @include sectiongrid;
  &__name {
    @include sectionname;
  }
}

.techgrid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  &__item {
    width: 100%;
  }
  &__posleft {
    display: flex;
    justify-content: flex-start;
  }
  &__poscenter {
    display: flex;
    justify-content: center;
  }
  &__posright {
    display: flex;
    justify-content: flex-end;
  }
}

.edu {
  @include sectiongrid;
  &__name {
    @include sectionname;
  }
}

.exp {
  @include sectiongrid;
  &__name {
    @include sectionname;
  }
}

.projects {
  @include sectiongrid;
  &__name {
    @include sectionname;
  }
}

.mainfooter {
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__title {
    font-weight: bold;
    font-family: $mainfont;
    &--par {
    }
  }
  &__logo {
    display: flex;
    width: 600px;
    justify-content: space-between;
  }
}
